leetcode/**/.DS_Store
leetcode/**/.gradle/
leetcode/**/build.gradle
leetcode/**/build/
leetcode/**/.idea/
leetcode/**/.gradle/
leetcode/**/gradle/
leetcode/**/gradlew
leetcode/**/gradlew.bat
leetcode/**/settings.gradle

.DS_Store
.gradle/
.idea/
.vscode/
